aside {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 100%;
  background: #999999;
  transition: all 1s ease;
  & .docs-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
  & .docs-button {
    position: absolute;
    left: 0;
    bottom: 20%;
    background: $links;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: rotate(270deg) translateY(-178%);
    padding: 1rem 3rem;
  }
  & .docs-details {
    @include flexColumn(flex-start, flex-start);
    row-gap: 1rem;
    padding: 1rem;
    &__type {
      & span {
        color: rgb(0, 255, 55);
      }
    }
    &__description {
      & span {
        color: rgb(214, 209, 232);
      }
    }
  }
}

.openModal {
  left: 60%;
  transition: all 1s ease;
}
