aside {
  position: fixed;
  height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 100%;
  background: #999999;
  transition: all 1s ease;
  & .docs-button {
    position: absolute;
    left: 0;
    bottom: 20%;
    background: $links;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: rotate(270deg) translateY(-178%);
    padding: 1rem 3rem;
  }
}
