/* header */

.header {
  @include flex($justify: space-between);
  background: $background-dark;
  width: 100%;
  height: 8rem;
  gap: 20px;
  padding: 0 20px;

  & > * {
    flex: 1;
  }

  @include media('s') {
    flex-wrap: wrap;
    justify-content: end;
  }

  @include media('xxs') {
    gap: 0;
  }

  &__logo {
    text-align: left;

    .logo {
      padding: 15px 0;
      min-width: 150px;
      max-width: 280px;
      position: relative;
      margin-top: 2px;

      &__image {
        display: inline-block;
        max-height: 50px;
        max-width: 100%;
        width: auto;
        text-decoration: none;
        margin-top: -22px;

        @include media('xs') {
          max-height: 40px;
        }

        @include media('xxs') {
          max-height: 30px;
        }
      }

      &__span {
        @include font(
          $family: $font-family-title,
          $size: $font-size-22,
          $weight: bold
        );
        color: $links;
        margin-left: 10px;
      }
    }
  }

  &__links {
    @include flex($justify: center);
    gap: 30px;
  }

  &__buttons {
    @include flex($justify: flex-end);
    gap: 10px;

    @include media('xs') {
      gap: 5px;
    }
  }
}
